.usersList {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-sizing: border-box;
  width: 100%;
  border-top: 1px solid var(--secondary-strokes-color);
  border-bottom: 1px solid var(--secondary-strokes-color);
}
