.inputContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: var(--space-xxs);
  font-size: var(--input-fs-xs);
  font-weight: 500;
  color: var(--primary-input-label-color);
}

.inputWrapper {
  position: relative;
  display: flex;
}

.input {
  width: 100%;
  padding: var(--space-sm) var(--space-md);
  border: 1px solid var(--primary-input-border-color);
  border-radius: var(--space-xxs);
  font-size: var(--input-fs-xs);
  outline: none;
  color: var(--primary-input-text-color);
}

.input:hover,
.input:focus {
  border-color: var(--primary-input-label-color);
}

.inputRight {
  padding-right: var(--space-xlm);
}

.inputLeft {
  padding-left: var(--space-xlm);
}

.inputError {
  border-color: var(--error-color);
}

.iconLeft,
.iconRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.iconLeft {
  left: var(--space-md);
}

.iconRight {
  right: var(--space-md);
}

.eyeIcon {
  position: absolute;
  top: 50%;
  right: var(--space-md);
  transform: translateY(-50%);
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: var(--focused-border-color);
  cursor: pointer;
}

.passIcon {
  fill: var(--secondary-input-text-color);
}

.filled {
  fill: var(--primary-text-color);
}

.iconButton:hover {
  color: var(--primary-text-color);
}

.errorText {
  position: absolute;
  bottom: -17px;
  left: var(--space-xxs);
  color: var(--error-color);
  font-size: 12px;
  margin-top: 4px;
}
