.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

img.icon {
  fill: var(--focused-border-color);
}

img.filled {
  fill: var(--primary-text-color);
}
